src/necrodancer.buildv87a/glfw3/glfw3/** linguist-vendored
src/necrodancer.buildv87a/glfw3/openal/** linguist-vendored
src/necrodancer.buildv87a/glfw3/stb/** linguist-vendored

src/necrodancer.buildv87a/glfw3/main.cpp linguist-generated=true
src/necrodancer.buildv87a/glfw3/main.h linguist-generated=true
src/necrodancer.buildv87a/glfw3/main.mm linguist-generated=true
